:root {
  /* Primary colors */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* neutral colors */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

body {
  background: var(--Very-Light-Gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 54rem;
  margin-bottom: 5rem;
}

.header span:nth-of-type(1) {
  font-weight: 200;
  font-size: 3.6rem;
}

.header span:nth-of-type(2) {
  font-weight: 600;
  font-size: 36px;
}

.header span:nth-of-type(3) {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  color: var(--Grayish-Blue);
  margin-top: 1rem;
}

.box_container {
  width: 60vw;
  max-width: 1000px;

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    ". r ."
    "c r b"
    "c y b"
    ". y .";
}

.box {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 5px 18px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.box span:nth-of-type(1) {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.7rem;
}

.box span:nth-of-type(2) {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: var(--Grayish-Blue);
}

.box img {
  width: 6.4rem;
  height: 6.4rem;
  margin-left: auto;
  margin-top: auto;
}

.box--supervisor {
  grid-area: c;
  border-top: 4px solid var(--Cyan);
}

.box--team {
  grid-area: r;
  border-top: 4px solid var(--Red);
}

.box--karma {
  grid-area: y;
  border-top: 4px solid var(--Orange);
}

.box--calculator {
  grid-area: b;
  border-top: 4px solid var(--Blue);
}

footer {
  position: absolute;
  bottom: 4px;
}

.attribution {
  font-size: 1.1rem;
  bottom: 4px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1070px) {
  .box_container {
    width: 80vw;
  }
}

@media only screen and (max-width: 800px) {
  .box_container {
    width: 90vw;
  }
}

@media only screen and (max-width: 700px) {
  .box_container {
    width: 100vw;
  }
}

@media only screen and (max-width: 630px) {
  .box_container {
    width: 100vw;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "c r"
      "c r"
      "y b"
      "y b";
  }
}

@media only screen and (max-width: 540px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-bottom: 4rem;
    margin-top: 6rem;
    padding: 0 1rem;
  }

  .header span:nth-of-type(1) {
    font-weight: 200;
    font-size: 2.4rem;
  }

  .header span:nth-of-type(2) {
    font-weight: 600;
    font-size: 2.4rem;
  }

  .box_container {
    width: 100vw;
    height: 55vh;
    padding-bottom: 3rem;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 20rem);
    grid-template-areas:
      "c"
      "r"
      "y"
      "b";
  }
}
